button {
   border: none;
   cursor: pointer;
   background-color: rgba(255, 255, 255, 0);
}

.mainButtonStyle {
   font-weight: bold;
   transition: 0.2s;
   align-items: center;
   display: flex;
   font-size: 16px;
   position: relative;

   &:hover {
      color: #fb8c00;
   }

   &:hover::before {
      transition: 0.2s all;
      opacity: 1;
      transform: translateY(19.5px) rotate(0deg);
   }

   &::before {
      content: "";
      width: 100%;
      height: 2px;
      background-color: #fb8c00;
      position: absolute;
      bottom: 8%;
      transition: 0.2s all;
      opacity: 0;
      transform: translateY(0px) rotate(0deg);
      z-index: 2;
   }
}

.sidebarButtonStyle {
   display: flex;
   align-items: center;
   padding: 10px 20px 10px 10px;
   width: 150px;

   &:hover {
      background-color: rgba(107, 107, 107, 0.178);
      color: #fb8c00;
   }

   &:hover::before {
      transition: 0.3s all;
      opacity: 1;
      transform: translateX(-16px) rotate(90deg);
   }

   &::before {
      content: "";
      width: 45px;
      height: 2px;
      background-color: #fb8c00;
      position: absolute;
      right: -10%;
      transition: 0.5s all;
      opacity: 0;
      transform: translateX(0px) rotate(90deg);
      z-index: 2;
   }
}

.thirdButtonStyle {
   padding: 8px 10px;
   background-color: #7d7d7d36;
   border-radius: 2px;
   display: flex;
   align-items: center;

   &:hover {
      background-color: #bce0bb;
   }
}

.fourthButtonStyle {
   font-weight: bold;
   color: #000;
   background-color: #bce0bb;
   padding: 5px 9px 6px;
   border-radius: 4px;
   transition: 0.5s;
   border: 1px solid #bce0bb;

   &:hover {
      color: #2d5826;
      background-color: rgb(252, 252, 252);
      transition: 0.5s;
      border: 1px solid #2d5826;
   }
}

.fifthButtonStyle {
   font-weight: bold;
   color: #fff;
   background-color: #ffa726;
   padding: 5px 9px 6px;
   border-radius: 4px;
   transition: 0.5s;
   border: 1px solid #ffa726;

   &:hover {
      color: #ffa726;
      background-color: rgb(252, 252, 252);
      transition: 0.5s;
      border: 1px solid #ffa726;
   }
}

.userFieldButtonStyle {
   margin-left: -11px;
   display: flex;
   align-items: center;
   padding: 5px 20px 5px 10px;
   width: 225px;
   text-align: start;

   &:hover {
      background-color: rgba(107, 107, 107, 0.178);
      color: #fb8c00;
   }

   &:hover::before {
      transition: 0.3s all;
      opacity: 1;
      transform: translateX(-16px) rotate(90deg);
   }

   &::before {
      content: "";
      width: 34px;
      height: 2px;
      background-color: #fb8c00;
      position: absolute;
      right: -9%;
      transition: 0.5s all;
      opacity: 0;
      transform: translateX(0px) rotate(90deg);
      z-index: 2;
   }
}
