.table {
  width: 20% !important;
  margin-bottom: 0 !important;
  color: #212529 !important;
  border-color: #00000000 !important;
}

thead {
  vertical-align: middle !important;
}

th {
  font-size: 10px !important;
  font-weight: 400 !important;
  padding: 0 !important;
}

.count {
  font-size: 10px !important;
  font-weight: 700 !important;
}

tbody {
  border-top: 1.5px solid #000000 !important;
}
