.backFon {
background-color: black;
margin: 5px;
}

.infoField {
  display: flex;
    justify-content: space-between;
    align-items: center;
}

.product {
  display: flex;
    justify-content: space-around;
}

.delete {
  background-image: url(../../assets/icon/closeIcon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px;
  width: 25px;
  height: 25px;
}