.card {
  height: 170px;
  border-radius: 15px;
  width: 600px;
  padding: 2rem;
  color: #030303;
  background-color: #949bbe75;
  border: 1px solid #6b7cd0;
}

.title {
  margin-top: 22px;
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 5px;
}
