.card {
  height: 40px;
  width: 200px;
  border-color: #7d83d6 !important;
  background-color: #ff000000 !important;
  transition: 0.5s;

  &:hover {
    background-color: #7d83d61a !important;
    transition: 0.5s;
  }
}

.link {
  color: #2e2e2e;
  text-decoration: none;
  margin-bottom: 10px;
}

.title {
  font-size: 20px !important;
  font-weight: 500 !important;
  padding: 0 !important;
  margin: 5px 0 !important;
}

.foldIcon {
  position: absolute;
  background-image: url(../../assets/icon/folder.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  width: 30px;
  height: 30px;
  top: 5px;
  left: 10px;
}
