.card {
  height: 150px;
  width: 150px;
  border-color: #7d83d6 !important;
  background-color: #ff000000 !important;
  transition: 0.5s;

  &:hover {
    background-color: #7d83d61a !important;
    transition: 0.5s;
  }
}

.link {
  color: #2e2e2e;
  text-decoration: none;
  &:hover {
    color: #472f76;
  }
}

.title {
  font-size: 20px;
  font-weight: 500;
  padding: 0 !important;
}

.icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90px;
  width: 100px;
  height: 100px;
  margin-left: 10px;
}

.JavaScript {
  background-image: url(../../assets/icon/javascriptIcon.svg);
}
.React {
  background-image: url(../../assets/icon/reactIcon.svg);
}
.HTML {
  background-image: url(../../assets/icon/htmlIcon.svg);
}
.CSS {
  background-image: url(../../assets/icon/cssIcon.svg);
}
